section {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 8rem;
}

@media (max-width: 992px) {
  section {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 2rem;
  }
}

.s-value {
  padding: 0 16rem;
  margin-bottom: 16rem;
}

@media (max-width: 992px) {
  .s-value {
    padding: 0 2rem;
    margin-bottom: 12rem;
  }
}

@media (max-width: 768px) {
  .s-value {
    margin-bottom: 8rem;
  }
}

.col-2 {
  gap: 48px;
}

.col-3 {
  gap: 48px;
}

#value-tag {
  text-align: center;
  font-size: 1.25rem;
}

#value {
  font-size: 2rem;
  text-align: center;
  line-height: 2.25rem;
}

span {
  font-weight: 600;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* Card styling */
.card-s {
  /* padding: 1.5rem; */
  border: solid #e6e6e6 1.5px;
  border-radius: 16px;

  overflow: hidden;
}

.card-s-link {
  width: inherit;
}

.card-s-img-container {
  overflow: hidden;
  line-height: 0;
  /* border-bottom: solid 1px #E6E6E6; */
}

.card-s-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  transition: transform 0.5s ease;
}

.card-s:hover .card-s-img {
  transform: scale(1.05);
}

.card-s-text {
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
}

.card-s-title {
  font-size: 1.125rem;
  font-weight: 600;
}

.card-s-desc {
  line-height: 1.25rem;
}

.btn-secondary {
  font-size: 0.875rem;

  display: inline-block;
  padding: 0.5rem 0.75rem;
  /* width: auto; */

  border: solid #666 1.5px;
  border-radius: 8px;

  transition: 250ms;
}

.btn-secondary:hover {
  color: white;
  background-color: #666;

  transition: 250ms;
}

.btn-tertiary {
  display: inline-block;
  align-self: flex-end;
  margin-left: auto;
}


/* Text Styling */
.subtitle {
  font-size: 2rem;
  font-weight: 600;
}