section {
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 8rem;
}

@media (max-width: 992px) {
  section {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 2rem;
  }
}

.s-value {
  padding: 0 16rem;
  margin-bottom: 16rem;
}

@media (max-width: 992px) {
  .s-value {
    padding: 0 2rem;
    margin-bottom: 12rem;
  }
}

@media (max-width: 768px) {
  .s-value {
    margin-bottom: 8rem;
  }
}

.col-2 {
  gap: 48px;
}

.col-3 {
  gap: 48px;
}

#value-tag {
  text-align: center;
  font-size: 1.25rem;
}

#value {
  font-size: 2rem;
  text-align: center;
  line-height: 2.25rem;
}

span {
  font-weight: 600;
}

.description {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* Card styling */
.card-s-title {
  font-weight: 500;
}
