body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Columns */
.col-2 {
    display: flex;
    flex-direction: row;
}

.col-l-10 {
    width: 15%;
}

.col-r-90 {
    width: 90%;
}

.col-l-40 {
    width: 40%;
}

.col-r-60 {
    width: 60%;
}

.col-l-50 {
    width: 50%;
}

.col-r-50 {
    width: 50%;
}

.col-l-60 {
    width: 60%;
}

.col-r-40 {
    width: 40%;
}



/* Spacing */
.mb-8 {
    margin-bottom: 0.5rem;
}

.mb-12 {
    margin-bottom: 0.75rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.mb-32 {
    margin-bottom: 2rem;
}

.mb-48 {
    margin-bottom: 3rem;
}

.mb-64 {
    margin-bottom: 4rem;
}

.mb-96 {
    margin-bottom: 6rem;
}

.mb-128 {
    margin-bottom: 8rem;
}

.mb-256 {
    margin-bottom: 16rem;
}